/* ----------------------------------------------------
   created with http://www.codeandweb.com/texturepacker 
   ----------------------------------------------------
   $TexturePacker:SmartUpdate:66173d82c7b66fb3f3cc8d852aca2483:c75a76e7812a51bb6fa41d6e9e8934c9:ddfe47117c2b10aafeace62e64dee7af$
   ----------------------------------------------------

   usage: <span class="{-spritename-} sprite"></span>

   replace {-spritename-} with the sprite you like to use

*/

.sprite {display:inline-block; margin-top: 5px;overflow:hidden; background-repeat: no-repeat;background-image:url(img/plbars.png);}

.pl1 {width:59px; height:40px; background-position: -2px -2px}
.pl2 {width:59px; height:40px; background-position: -2px -44px}
.pl3 {width:59px; height:40px; background-position: -2px -86px}
.pl4 {width:59px; height:40px; background-position: -2px -128px}
.pl5 {width:59px; height:40px; background-position: -2px -170px}
